doctype html
html(lang='en')
    head
        meta(http-equiv='content-type', content='text/html; charset=UTF-8')
        meta(name='viewport', content='width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=0;')
        title='Sudoku'
        link(rel='stylesheet', type='text/css' href='style.css')
    body
        h1(align='center')='Sudoku'
        table(id='board', class='board', align='center')
            tbody
        table(align='center')
            tbody
                tr
                    td(width='50%')
                        - for (var i = 1; i <= 9; i++)
                            input(id='#{i}NumberButton' type='button' value='#{i}')
                            - if (i % 3 === 0)
                                br
                    td(width='50%')
                        input(id='deleteButton' type='button' value='Delete Value')
                        br
                        input(id='resetButton' type='button' value='Reset Game')
                        br
                        input(id='newGameButton' type='button' value='New Game')
        script(src='bundle.js', type='text/javascript')
